<%- layout('layouts/main') %>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mt-4 text-center">
                <div class="card-header">
                    <h3>Signin</h3>
                </div>
                    <div class="card-body">
                        <form action="/signup" method="POST" >
                            <div class="formgroup">
                                <input type="email" name="email" placeholder="Insert Email" 
                                class="form-control">
                            </div>
                            <div class="formgroup">
                                <input type="password" name="password" placeholder="Insert password" 
                                class="form-control">
                            </div>
                        
                            <button type="submit"   class="btn btn-primary btn-block mt.4">
                                Signin
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>